@import "../components/variables";

.about {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 50px;

  .about-banner {
    width: 100%;
    max-width: 1600px; /* Réduit la largeur max de la bannière */
    height: 270px; /* Ajuste la hauteur si nécessaire */
    margin: 0 auto 60px; /* Centre l’image */
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-content {
    width: 100%;
    max-width: 1400px; // Augmenter la largeur
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 40px;
  }
}

/* ✅ Responsive TABLETTE */
@media (max-width: 1024px) {
  .about-banner {
    height: 220px; /* Réduit la hauteur de la bannière */
    max-width: 90%; /* Réduit la largeur pour éviter qu'elle touche les bords */
    margin-top: 50px !important;
  }

  .about-content {
    height: 90%;
    max-width: 95%; /* Élargit légèrement pour remplir l'écran */
    padding: 0 20px; /* Réduit le padding latéral */
  }
}

/* ✅ Responsive MOBILE */
@media (max-width: 480px) {
  .about {
    padding-bottom: 30px; /* Ajuste l’espacement sous les collapses */
    min-height: auto;
  }


  .about-banner {
    height: 140px !important; /* Réduit la hauteur */
    max-width: 90% !important; /* Ajuste la largeur */
  }

  .about-content {
    height: 90%;
    max-width: 90% !important;
    padding: 0 15px; /* Encore moins de padding */
    gap: 40px !important; /* Réduit l’espace entre les collapses */
  }

  /* ✅ Ajustement des collapses */
  .collapse-header h2 {
    font-size: 16px; /* Réduit la taille des titres */
  }

  .collapse-content {
    font-size: 10px; /* Réduit la taille du texte */
  }
}
