@import "../components/variables";

.about {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 50px;

  .about-banner {
    width: 100%;
    max-width: 1600px; /* Réduit la largeur max de la bannière */
    height: 270px; /* Ajuste la hauteur si nécessaire */
    margin: 0 auto 60px; /* Centre l’image */
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-content {
    width: 100%;
    max-width: 1400px; // Augmenter la largeur
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 40px;
  }
}