@import "../components/variables";

.about {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  padding-bottom: 50px;

  .about-banner {
    width: 100%;
    max-width: 1600px;
    height: 270px;
    margin: 0 auto 60px;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-content {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 40px;
  }
}

/* ✅ Responsive TABLETTE */
@media (max-width: 1024px) {
  .about-banner {
    height: 220px;
    max-width: 90%;
    margin-top: 50px !important;
  }

  .about-content {
    height: 90%;
    max-width: 95%;
    padding: 0 20px;
  }
}

/* ✅ Responsive MOBILE */
@media (max-width: $breakpoint-mobile) {
  .about {
    padding-bottom: 30px;
    min-height: auto;
  }


  .about-banner {
    height: 140px !important;
    max-width: 90% !important;
  }

  .about-content {
    height: 90%;
    max-width: 90% !important;
    padding: 0 0px !important;
    gap: 50px !important; 
  }

  /* ✅ Ajustement des collapses */
  .collapse-header h2 {
    font-size: 16px;
  }

  .collapse-content {
    font-size: 10px;
  }

  .footer {
    height: 183px;
  }
}
