@import "../components/variables";

#root, .App {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

// Styles pour la page Home
.home {
  width: 100%;
  min-height: 100vh;
  background-color: $background-color;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 50px;
  }

  body {
    width: 100vw;
    overflow-x: hidden;
  }

  .footer {
    margin-top: auto;
    width: 100%;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
  }


  @media (max-width: $breakpoint-mobile) {
    .main-content {
      min-height: unset !important; 
      height: auto !important; 
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  
    .home {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
  
    .footer {
      margin-top: 0 !important; 
    }

    .app-container {
      min-height: auto !important;
      height: auto !important;
    }

    #root, .App {
      min-height: 100vh; 
      height: auto;
    }

    body {
      overflow-x: hidden; 
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  
  }


  