@import "../components/variables";

html, body {
  height: 100%; /* Garantit que body prend toute la hauteur de l'écran */
  margin: 0;    /* Supprime la marge par défaut */
  padding: 0;   /* Supprime le padding par défaut */
  display: block;  /* Supprime le display flex */
  place-items: normal;
}

// Styles pour la page Home
.home {
  width: 100%;
  min-height: 100vh;
  background-color: $secondary-color;
  padding: 0;
  margin: 0;
  }
