@import "../components/variables";

#root, .App {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

// Styles pour la page Home
.home {
  width: 100%;
  min-height: 100vh;
  background-color: $background-color;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Évite que le footer remonte */
  padding-bottom: 50px;
  }

  body {
    width: 100vw; /* Force la largeur à 100% de l’écran */
    overflow-x: hidden; /* Évite les décalages horizontaux */
  }

  .footer {
    margin-top: auto; /* Force le footer à rester en bas */
    width: 100%;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fait en sorte que la page prenne toute la hauteur */
  }

  .main-content {
    flex: 1; /* Permet au contenu de prendre toute la place disponible */
  }