.collapse {
    background-color: #ff6060;
    border-radius: 5px;
    overflow: hidden;
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      color: white;
      font-size: 18px;
  
      h2 {
        margin: 0;
      }
  
      .arrow {
        font-size: 20px;
        transition: transform 0.3s;
      }
  
      .open {
        transform: rotate(180deg);
      }
    }
  
    .collapse-content {
      padding: 20px;
      background-color: white;
      color: #333;
    }
  }

  @media (max-width: 768px) {
    .collapse-header {
      font-size: 16px;
      padding: 12px 16px;
    }
  
    .collapse-content {
      padding: 15px;
      font-size: 15px;
    }
  }
  
  /* 🔴 Mobile */
  @media (max-width: 480px) {
    .collapse {
      width: 100%; /* Assure qu’il prend tout l’espace sur mobile */
    }
  
    .collapse-header {
      font-size: 14px;
      padding: 10px 12px;
    }
  
    .collapse-content {
      padding: 12px;
      font-size: 14px;
    }
  }
