.collapse {
    background-color: #ff6060;
    border-radius: 5px;
    overflow: hidden;
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      color: white;
      font-size: 18px;
  
      h2 {
        margin: 0;
      }
  
      .arrow {
        font-size: 20px;
        transition: transform 0.3s;
      }
  
      .open {
        transform: rotate(180deg);
      }
    }
  
    .collapse-content {
      padding: 20px;
      background-color: white;
      color: #333;
    }
  }
