.header {
  font-family: 'Montserrat', sans-serif !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  /* Fond blanc */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* Légère ombre pour le style */
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 121px; /* Décale le logo vers la droite */
}

  &__nav {
    display: flex;
    gap: 30px;
    margin-right: 121px;

    .nav__link {
      text-decoration: none;
      font-size: 1.1rem;
      color: #000;
      font-weight: 500 !important;
      /* Texte noir */
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: #ff6060;
        /* Devient rouge au survol */
      }
    }
  }
}

.logo-container {
  display: flex;
  gap: 8px;
  /* Ajuste l’espacement entre les lettres */
  align-items: center;
}

.logo-house {
  position: relative;
  display: flex;
  justify-content: center;
  /* Centrer horizontalement */
  align-items: center;
  top: 7px;
}

.logo-rectangle {
  position: absolute;
  bottom: 10px;
  /* Ajuste pour bien placer sous le toit */
  left: 70%;
}