@import "../components/variables";

.slideshow {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 450px !important;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;

  .slideshow-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  // Flèches de navigation
  .slideshow-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: $background-color;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .left {
    left: 20px;
  }

  .right {
    right: 20px;
  }

  // Compteur (1/4)
  .slideshow-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $background-color;
    font-size: 18px;
    font-weight: bold;
    font-weight: 500;
    background: none;
    padding: 0;
  }
}

.slideshow-image {
  display: none;
}

.slideshow-image:first-of-type {
  display: block;
}


@media (max-width: $breakpoint-tablet) {
  .slideshow {
    height: 350px;
  }

  .slideshow-arrow {
    font-size: 24px;
    width: 35px;
    height: 35px;
  }

  .slideshow-counter {
    font-size: 16px;
  }
}

/* 📌 Responsive MOBILES */
@media (max-width: $breakpoint-mobile) {
  .slideshow {
    height: 300px !important;
    border-radius: 5px;
    width: 100% !important; 
    max-width: 500px !important; 
    margin: 0 auto;
    padding-right: 15px;
    margin-top: 25px !important;
  }

  .slideshow-arrow {
    font-size: 20px !important;
    width: 30px !important;
    height: 15px !important;
  }

  /* ✅ Réduit la taille des boutons */
  .left,
  .right {
    width: 30px !important;
    height: 30px !important;
  }

  /* ✅ Réduit la taille des images des flèches */
  .left img,
  .right img {
    width: 100% !important;
    height: auto !important;
    max-width: 25px;
  }

  /* ✅ Réduit la taille des boutons flèches */
  .slideshow-arrow {
    width: 30px !important;
    height: 30px !important;
    top: 50%;
    transform: translateY(-50%);
  }

  /* ✅ Réduit la taille des images de flèches */
  .slideshow-arrow img {
    width: 20px !important; 
    height: auto !important;
  }

  .slideshow-arrow.left {
    left: -5px !important; 
  }

  .slideshow-arrow.right {
    right: 5px !important; 
  }

  .slideshow-counter {
    font-size: 14px;
  }
  
  .slideshow-counter {
    display: none !important;
  }
}
