.slideshow {
  position: relative;
  width: 100%;
  /* Augmente la largeur */
  max-width: 1600px;
  /* Évite que ça devienne trop grand */
  height: 450px !important;
  /* Augmente légèrement la hauteur */
  margin: 0 auto;
  /* Centre le carrousel */
  border-radius: 10px;
  overflow: hidden;

  .slideshow-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  // Flèches de navigation
  .slideshow-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .left {
    left: 20px;
  }

  .right {
    right: 20px;
  }

  // Compteur (1/4)
  .slideshow-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* Centre horizontalement */
    color: #fff;
    /* Texte blanc */
    font-size: 18px;
    font-weight: bold;
    font-weight: 500;
    background: none;
    /* Supprime le fond */
    padding: 0;
    /* Enlève le padding */
  }
}

.slideshow-image {
  display: none;
}

.slideshow-image:first-of-type {
  display: block;
}