@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

// Définir les variables globales
$background-color: #ffffff;
$primary-color: #FF5733;
$secondary-color: #C70039;
$header-bg-color: #333;